@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');

/* Variables */

$color-light: #fff;
$color-dark: #000000;
$color-vivid: #2a5924;
$color-focus:  #3bfd37;

$font-logo: 'Oswald', sans-serif;
$font-header: 'Alkalami', serif;
$font-text: 'Source Sans Pro', sans-serif;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: $color-light;
  font-family: $font-text;
  color: $color-dark;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 90vw;
  margin: 0 auto;
}

.section-title {
  font-size: 20px;
  text-transform: uppercase;
  font-family: $font-header;
  font-weight: 600;
  span {
    text-transform: none;
    font-weight: 400;
    color: lighten($color-dark, 20%);
  }
}

a {
  text-decoration: none;
}

article {
  padding-bottom: 50px;
}

/* Layout */

.wrapper {
  display: flex;
  margin-left: 10px;
  padding-bottom: 50px;
}

.sidebar {
  flex: 1 0 0;
}

.posts {
  flex: 6 0 0;
  position: relative;
  padding: 40px;
  // overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  // border: 2px solid $color-dark;
}

.posts::-webkit-scrollbar {
  display: none;
}

.sidebar, .posts {
  background: $color-light;
  padding: 40px;
}

/* Logo */

.logo-wrapper {
  position: relative;
  z-index: 1;
}

.logo {
  font-family: $font-logo;
  font-weight: bold;
  font-size: 100px;
  line-height: 1;
  text-align: center;
  padding-top: 80px;

  span {
    color: $color-focus;
  }
}

.logo-wrapper img {
  position: absolute;
  left: 40%;
  top: 0;
  margin-top: 0;
  z-index: -1;
}

/* Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  .active {
    font-weight: bold;
  }
}

.list-horizontal {
  li {
    display: inline-block;
  }
}

.list a {
  color: $color-vivid;
  font-weight: 600;
  &:focus {
    color: $color-focus;
    font-weight: bold;
  }
}

.tags {
  padding-bottom: 15px;
}

/* Authors */

.authors {
  li {
    margin-bottom: 12px;
    margin-bottom: 0;
  }
}

/* Post */

.post {
  position: absolute;
  opacity: 0;
  transition: visibility 0s, opacity 0.7s linear;
  z-index: 1;
  margin-right: 20px;
  &.active {
    visibility: visible;
    opacity: 1;
    z-index: 2;
  }
}

.post-author {
  font-style: italic;
}

.post-tags {
  display: flex;
  p {
    margin: 0 10px 0 0;
    padding-bottom: 30px;
  }
}

.post-title {
  font-family: $font-header;
  font-size: 30px;
}

/* Images */

.images-container {
  display: flex;
  padding: 50px 0;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: $color-dark;
  height: auto;
  border-radius: 5px;
}

.images-container img {
  width: 100%;
  object-fit: cover;
  background-color: $color-dark;
}

.image-box {
  overflow: hidden;
  background-color: $color-dark;
}

.box-1 {
  padding-right: 10px;
}

.box-2 {
  padding-left: 10px;
}


